<!--
    This file is part of the authorsID project

    authorsID is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'retrieval/base.html' %}
{% block header_title %}Article batch input{% endblock %}
{% block script %}
<script>
    function updateProgressBar() {
        $.ajax({
            url: "{% url 'retrieval:progress' %}",
            datatype: 'json',
            type: 'GET',
            success: function(data) {
                perc = data.perc;
                $("#id_progress").css("width", perc + "%").attr("aria-valuenow", perc).text(perc + "%");
            },
            error: function(error) {
                console.log("AJAX request failed");
            }
        });
    }
    $(document).ready(function () {
       $("#id_form").on("submit", function () {
           $(".progress").css("visibility", "visible");
           setInterval(updateProgressBar, 1000);
       });
    });

</script>
{% endblock %}
{% block body_centre %}
<h3 id="id_batch_title">Faça upload de um arquivo com vários artigos</h3>
<form action="{% url 'retrieval:batch_handle' %}" method="post" enctype="multipart/form-data" id="id_form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send" id="id_send"/>
</form>
<div class="progress" style="margin-top: 25px; visibility: hidden">
    <div id="id_progress" class="progress-bar progress-bar-striped active" role="progressbar"
         aria-valuenow="00" aria-valuemin="0" aria-valuemax="100" style="width: 00%">
        0%
    </div>
</div>
{% endblock %}