<!--
    This file is part of the authorsID project

    authorsID is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">-->
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <title>{% block header_title %}{% endblock %}</title>
    <link href="{% static 'retrieval/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'retrieval/jquery/jquery-3.0.0.js' %}"></script>
    {% block style %}
    {% endblock %}
    {% block script %}
    {% endblock %}
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <a href="http://www.gnu.org/licenses/">
                    <img src="http://www.gnu.org/graphics/agplv3-155x51.png" alt="[GNU AGPLv3 Logo]"/>
                </a>
                <h1 id="jumbotron">Identificação de autores</h1>
                {% block body_centre %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% block map %}
{% endblock %}
</body>
</html>