<!--
    This file is part of the authorsID project

    authorsID is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'retrieval/base.html' %}

{% block header_title %}Start Page{% endblock %}

{% block script %}
<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"Esse website utiliza cookies para lhe garantir a melhor experiência possível, caso continue a utilizá-lo, você concorda com essa política.","dismiss":"Entendi!","learnMore":"Mais informações","link":null,"theme":"dark-bottom"};

</script>
<script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
{% endblock %}

{% block body_centre %}
<a href="{% url 'retrieval:article_input' %}" class="jumbotron btn">Clique aqui para enviar um artigo</a>
<a href="{% url 'retrieval:batch_input' %}" class="jumbotron btn">Clique aqui para enviar vários artigos</a>
{% endblock %}