<!--
    This file is part of the authorsID project

    authorsID is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

{% extends 'retrieval/base.html' %}

{% load retrieval_filters %}

{% block header_title %}Results{% endblock %}

{% block style %}
<style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 50%; }

</style>
{% endblock %}

{% block body_centre %}
<h2 id="id_title_results">Resultados</h2>
<table class="table">
    <tr>
        <td class="article_title jumbotron">Título:</td>
    </tr>
    <tr>
        <td class="article_title">{{ article.title }}</td>
    </tr>
    <tr>
        <td class="jumbotron">Autores:</td>
    </tr>
    {% for author in article.authors.all %}
    <tr>
        <td class="author">{{ author }},
            {{ author.affiliation.name }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
{% block map %}
<div id="map"></div>
<script>
        var authAff = {};
        var delay = 400;
        var nextAddress = 0;
        var map;
        var bounds;
        var markerColour = '#' + Math.floor(Math.random()*16777215).toString(16);

        function pinSymbol(color) {
            return {
                path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z M -2,-30 a 2,2 0 1,1 4,0 2,2 0 1,1 -4,0',
                fillColor: color,
                fillOpacity: 1,
                strokeColor: '#000',
                strokeWeight: 0.5,
                scale: 1
            };
        }

        function addMarker(auth, aff, lat, lng) {
            var contentString = '<b> Autor: </b>' + auth +
                '<br /> <b>Filiação:</b> ' + aff;
            var infoWindow = new google.maps.InfoWindow({
                content: contentString,
                maxWidth: 400
            });

            var marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map,
                animation: google.maps.Animation.DROP,
                title: auth,
                icon: pinSymbol(markerColour) // Change colour depending on article
            });

            bounds.extend(marker.position);
            map.fitBounds(bounds);
            google.maps.event.addListener(marker, "click", function() {
                infoWindow.open(map, marker);
                console.log('Marker ' + nextAddress + ' has been clicked!');
            });
        }

        function initMap() {
            var centerLatLng = {lat: 6.154370, lng: 21.024447};
            map = new google.maps.Map(document.getElementById('map'), {
                center: centerLatLng,
                zoom: 4,
                mapTypeId: google.maps.MapTypeId.HYBRID,
                tilt: 45
            });
            bounds = new google.maps.LatLngBounds();
            {% for author in article.authors.all %}
                var aff_valid = {{ author.affiliation.aff_valid|yesno:"true,false" }};
                console.log(aff_valid);
                var auth = '{{ author.name }}';
                if(aff_valid == true) {
                    addMarker(auth, '{{ author.affiliation.name }}', {{ author.affiliation.location|latitude }},
                        {{ author.affiliation.location|longitude }});
                } else {
                    console.log("Affiliation invalid for author: " + auth);
                }
            {% endfor %}
        };

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<INSERT-KEY-HERE>&callback=initMap&signed_in=true" async
        defer></script>
{% endblock %}
